<div class="container">
	<table class="table table-reflow table-striped table-hover">
		<tbody >
			<tr ng-repeat="list in sudoku">
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
			</tr>


			<tr ng-repeat="list in sudoku">
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
			</tr>

			<tr ng-repeat="list in sudoku">
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
				<td ng-repeat="item in list.list">
					<h2>{{item.item}}</h2>
				</td>
			</tr>

		</tbody>
	</table>
</div>