<div navbar></div>
<div class="container">
    <div cards-navbar></div>
    <div>
        <div class="col-xs-offset-2">
            <form>
                <div class="form-group">
                    <div class="col-xs-4">
                        <input type="text" placeholder="Enter card name" uib-typeahead="card as card.name for card in app.getCardByName($viewValue)" typeahead-loading="loading"
                            typeahead-no-results="noResults" ng-model="app.asyncSelected" typeahead-editable="false" class="form-control">
                        <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="col-xs-offset-2">
            <div class="col-xs-8">
                <table class="table table-striped">                    
                    <tbody>
                        <tr>
                            <td>{{app.asyncSelected.card_id}}</td>
                            <td><a href="#" ng-click="app.openCardModal('sm', app.asyncSelected)">{{app.asyncSelected.name}}</a></td>
                            <td>{{app.asyncSelected.type}}</td>
                            <td>{{app.asyncSelected.sub_type}}</td>
                            <td>{{app.asyncSelected.rarity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div footer></div>